* {
  margin: 0;
  padding: 0;
}
:root {
  --border-radius: 10px;
  --border-radius-image: 10px 10px 0px 0px;
  --background-color: #ffffff;
  --color-texte: rgb(255, 145, 0);
}

/* GENERAL */

#productContainer {
  background-color: #b7b7a4;
  width: 100%;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: transparent;
}

/* ENTETE */
h1 {
  font-size: 2.5rem;
  margin-block: 100px;
  color: #6b705c;
}

h2 {
  color: #6b705c;
  border-radius: 10px;
  padding: 10px;
  align-self: center;
  font-size: 16px;
  width: 70%;
  margin: 30px;
}

h3 {
  margin: 30px;
  color: #6b705c;
}

.avantage {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
  color: var(--color-texte);
  h4 {
    font-size: 14px;
    width: 30%;
    padding: 10px;
    border: 1px solid rgb(195, 195, 195);
    background-color: var(--background-color);
  }
}

.bouton {
  font-size: 16px;
  width: 30%;
  margin-top: 40px;
  padding: 10px;
  align-self: center;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  border: none;
}

.bouton:hover {
  box-shadow: 0 0 1px 1px gray;
  background-color: white;
  /* color: var(--color-texte); */
  border: none;
}

/* BALISE DIV GENERAL AU 3 */
.grosProduit:first-child {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: start;
}
.grosProduit {
  width: 100%;
  /* gap: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  place-content: center;
}

/* PRODUIT */
.produit {
  width: 49%;
  color: var(--color-texte);
  margin: 5px;
  h5 {
    justify-self: start;
    margin-inline: 10px;
    font-size: 14px;
  }
  p {
    text-align: start;
    margin: 10px;
    font-size: 12px;
  }
  img {
    width: 100%;
  }
}

/* SERVICE */
/* .service:first-of-type{

  border-radius: 10px 0 0 10px;
} */

.service {
  width: 30%;
  padding: 10px;
  border: 1px solid rgb(195, 195, 195);
  /* border-radius:0 10px 10px 0 ; */
  color: var(--color-texte);
  background-color: var(--background-color);

  h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  p {
    font-size: 14px;
  }
}

/* TEMOIGNAGE */
.temoignage {
  width: 30%;
  padding: 10px;
  border: 1px solid rgb(195, 195, 195);
  background-color: var(--background-color);
  color: var(--color-texte);

  h5:first-of-type {
    display: inline-block;
    width: 70%;
    text-align: start;
    font-size: 16px;
  }
  h5 {
    justify-self: center;
    font-size: 12px;
    margin-bottom: 10px;
  }
  p {
    font-size: 12px;
    padding: 5px;
  }
  h6 {
    display: inline-block;
    text-align: end;
    width: 25%;
  }
}
