/* body {
  background-image: url(61Ltj4KTUsL._AC_UY900_.jpg);
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
} */
* {
  margin: 0;
  padding: 0;
}
:root {
  --border-radius: 10px;
  --border-radius-image: 10px 10px 0px 0px;
  --background-color: coral;
}
/* GENERAL */

#productContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: transparent;
}

/* ENTETE */
h1 {
  font-size: 18px;
  margin: 30px;
  color: rgb(27, 37, 46);
}

h2 {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--background-color);
  align-self: center;
  font-size: 16px;
  width: 70%;
  margin: 30px;
  color: rgb(27, 37, 46);
}

h3 {
  margin: 30px;
  color: rgb(27, 37, 46);
}

.avantage {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
  justify-content: space-evenly;
  color: rgb(27, 37, 46);
  h4 {
    border-radius: var(--border-radius);
    font-size: 14px;
    width: 30%;
    padding: 10px;

    background-color: var(--background-color);
  }
}

.bouton {
  font-size: 16px;
  width: 30%;
  margin-top: 40px;
  padding: 10px;
  align-self: center;
  border-radius: var(--border-radius);
}

/* BALISE DIV GENERAL AU 3 */
.grosProduit:first-of-type {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
  place-content: start;
}
.grosProduit {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
  place-content: center;
}

/* PRODUIT */
.produit {
  width: 49%;
  color: rgb(0, 0, 0);
  h5 {
    justify-self: start;
    margin-inline: 10px;
    font-size: 14px;
  }
  p {
    text-align: start;
    margin: 10px;
    font-size: 12px;
  }
  img {
    width: 100%;
  }
}

/* SERVICE */
.service {
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  color: rgb(27, 37, 46);

  h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  p {
    font-size: 14px;
  }
}

/* TEMOIGNAGE */
.temoignage {
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  color: #00ff7f;

  h5:first-of-type {
    display: inline-block;
    width: 70%;
    text-align: start;
    font-size: 16px;
  }
  h5 {
    justify-self: center;
    font-size: 12px;
    margin-bottom: 10px;
  }
  p {
    font-size: 12px;
    padding: 5px;
  }
  h6 {
    display: inline-block;
    text-align: end;
    width: 25%;
  }
}
